section.itemList {
    margin: 40px;
    
    h1 {
      margin-bottom: 16px;
      color: #ad5544;
      text-align: left;    
    }
  
    ul {
      list-style: none;
  
      li {
          margin-top: 20px;
          color: #1F2E55; 
          border: 5px solid #b9928b; 
          border-radius: 10px; 
          font-weight: bold;
        } /* Titles style */

        li:hover{
          background-color:#d6a698;
        }
  
        p { /* Authors style */
          font-size: 18px;
          color: #303030;
          margin-top: 10px;
        }
  
        a { /* URL style */
          display: inline-block; // permite dar margin top, bottom, etc
          margin-top: 10px;
          text-decoration: none; // retira o sublinhado do link
          color: #1F2E55;
        }

        a:hover{
          font-weight: bold;
          color: #fffbee;
        }
  
      }
    }