/* .searchBar {
    margin-top: 0px;
    background-color: #D2BA9E;
    height: 100px;
} */  

label.search {
    color: #1F2E55;
    margin: 10px 0px 10px 0px; 
    font-size: larger;
    display: flex;
    flex-direction: column;
}

input.input {
    float:center;
    padding-left:5px;
    font-size:18px;
    border-radius: 7px 0 0 7px;
    border-color:#121214;
    height:40px;
    width:200px;
    text-align: center;
    margin-top: 12px;
}

.button {
    border:none;
    float:center;
    height:40px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    font-size: 90%;
    background:#5F9EA0;
}